@import url('https://fonts.googleapis.com/css?family=Hi+Melody');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');

body {
  background-color: #FFC829;
}

.main {
  background-color: white;
}
.logo{
  padding-top: 1%;
  padding-bottom: 1%;
}

.navbar-default {
  background-color: white;
}


.nav_description {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #DA291C;
  font-weight: bold;
}

.nav_description h3 {
  margin-top: 0%;
}

.foto_niño img {
  height: 340px;
  /*width: 320px;*/
  width: 100%;
  max-width: 100%;
}


.fotos {
  margin-top: 13%;
  text-align: center;
}

.video {
  margin-bottom: 3%;
  margin-top: 5%;
  font-family: 'Open Sans', sans-serif;

}
.hs-responsive-embed-youtube iframe {
  max-width: 100% !important;
}

.pasos_donar {
  font-family: 'Open Sans', sans-serif;
}

.numero_paso {
  height: 50px;
  width: 50px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #DA291C;
  color: white;
  font-size: 253%;

}

.pasos_content {
  margin: 5% 0% 0% 0%;
  text-align: center;
}

.paso {
  margin-bottom: 13%;
}

.donacion_main {
  font-family: 'Open Sans', sans-serif;
}


.btn_donar {
  background-color: #DA291C;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
.footer {
  background-color: #DA291C;
}

.footer h4 {
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.ico_redes {
  float: right;
  padding-top: 3%;
}

.ico_redes i {
margin-left: 20px;
}

.ico_redes a {
  color:  white;
}
.ico_redes a:hover {
text-decoration: none;
}

.imagen-madre-doctor {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #DA291C;
  font-weight: bold;
}