@import url('https://fonts.googleapis.com/css?family=Hi+Melody');
@import url('https://fonts.googleapis.com/css?family=Roboto');


.navbar-default {
  background-color: #F9A828;
  padding-top: 1%;
  padding-bottom: 1%;
}

.nav_description {
  font-family: 'Hi Melody', cursive;
  text-align: center;
  font-size: 170%;
  font-weight: bold;
}

.foto_niño img {
  height: 400px;
  width: 330px;
  max-width: 100%;
}


.fotos {
  margin-top: 15%;
}

.video {
  margin-bottom: 3%;
  margin-top: 5%;
  font-family: 'Roboto', sans-serif;

}
.hs-responsive-embed-youtube iframe {
  max-width: 100% !important;
}

.pasos_donar {
  font-family: 'Roboto', sans-serif;
  background-color: rgba(249,168,40,0.8);
  color: black;
}

.numero_paso {
  /*height: 50px;*/
  width: 50px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #C00000;
  color: white;
  font-size: 230%;

}


.pasos_content {
  margin: 5% 0% 0% 0%;
  text-align: center;
}

.paso {
  margin-bottom: 13%;
}

.donacion_main {
  font-family: 'Roboto', sans-serif;
}


.btn_donar {
  background-color: #C00000;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
.footer {
  background-color: #F9A828;
}

.footer h4 {
  font-family: 'Hi Melody', cursive;
  font-weight: bold;
  color: black;
}

.ico_redes {
  float: right;
  padding-top: 3%;
}

.ico_redes i {
margin-left: 20px;
}

.ico_redes a {
  color:  #333;
}
.ico_redes a:hover {
text-decoration: none;
}
